@import "../variables";
@import "../breakpoints";

.navMenu {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  background-color: $primary;
  width: 100%;

  .menu {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    font-weight: 500;
    width: 100%;
    height: 100%;
    padding-top: 15px;
    padding-bottom: 15px;
  }

  .menu:hover {
    background-color: $accent;
    color: #fff;
  }
}

// ---- BREAKPOINTS ----
@include sm {
  .navMenu {
    width: 120px;
    .menu {
      font-size: 12px;
      padding-top: 10px;
      padding-bottom: 10px;
    }
  }
}
