.events {
  display: flex;
  justify-content: center;
  margin-right: auto;
  margin-top: 50px;
  width: 100%;

  .container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    h2 {
      color: #0071ba;
    }
  }
}
