@import "variables";
@import "breakpoints";

.footer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
  background-color: $primary;

  .container {
    display: flex;
    justify-content: space-between;
    width: 1400px;
    min-height: 600px;
    padding: 50px;
    margin-bottom: 50px;

    .info {
      display: flex;
      flex-direction: column;

      .contacts {
        display: flex;
        flex-direction: column;
        gap: 20px;
        width: 100%;

        .contact {
          display: flex;
          gap: 20px;

          p {
            font-size: 16px;
          }
        }
      }

      .maps {
        height: 100%;
      }

      .newsletter {
        display: flex;
        flex-direction: column;

        h4 {
          font-size: 20px;
          font-weight: 500;
          margin-bottom: 5px;
        }

        form {
          display: flex;
          flex-direction: column;
          gap: 5px;
          width: 80%;
          margin-top: 5px;

          input {
            border: none;
            outline: none;
            width: 100%;
            height: 40px;
            border-radius: 4px;
            padding-left: 15px;
            padding-right: 15px;
          }

          button {
            border: none;
            width: 100%;
            height: 35px;
            background-color: $accent;
            color: #fff;
            border-radius: 4px;
            cursor: pointer;
          }
        }
      }
    }

    .links {
      display: flex;
      width: 60%;
    }
  }

  .copyright {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #000;
    width: 100%;
    height: 80px;
    padding: 20px;

    small {
      color: #fff;
      text-align: center;
    }
  }
}

// ---- BREAKPOINTS ----
@include xl {
  .footer {
    .container {
      flex-direction: column-reverse;
      align-items: center;
      gap: 100px;

      .info {
        flex-direction: row;
        justify-content: space-between;
        align-content: flex-start;
        gap: 20px;

        .contacts {
          flex-direction: row;
          width: 70%;

          .contact {
            p {
              font-size: 16px;
            }
          }
        }

        .maps {
          width: 50%;
        }

        .newsletter {
          form {
            width: 100%;
          }

          h4 {
            margin: 0;
            padding-bottom: 10px;
          }
        }
      }

      .links {
        width: 80%;
      }
    }
  }
}

@include lg {
  .footer {
    .container {
      .info {
        .contacts {
          flex-direction: column;
          .maps {
            width: 80%;
          }
        }
      }
    }
  }
}

@include md {
  .footer {
    margin-top: 30px;
    .container {
      flex-wrap: wrap;
      .info {
        padding-left: 20px;
        padding-right: 20px;
        flex-direction: column;
        .contacts {
          justify-content: center;
          align-items: center;
          width: 100%;
          .contact {
            width: 100%;
            justify-content: center;
            align-items: center;
          }
          .maps {
            width: 100%;
          }
        }
        .newsletter {
          justify-content: center;
          align-items: center;
          margin: 20px auto;
        }
      }

      .links {
        width: 100%;
      }
    }
  }
}

@include sm {
  .footer {
    .container {
      gap: 50px;
      padding: 20px;
      .info {
        .contacts {
          .contact {
            .logo {
              width: 80px;
            }
            p {
              font-size: 14px;
            }
          }
        }
      }
    }

    .copyright {
      flex-wrap: wrap;
      small {
        width: 90%;
      }
    }
  }
}
