@import "variables";
@import "breakpoints";

.navBox {
  position: absolute;
  right: 100px;
  width: 200px;

  .logo {
    width: 200px;
  }

  .navigation {
    display: flex;
    flex-direction: column;
  }

  button {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding-left: 0;
    padding-right: 0;
    border: none;
    margin: 0;
    padding-top: 0;
    font-weight: 700;
    font-size: 16px;
    cursor: pointer;
    background-color: transparent;

    p {
      margin: auto;
      width: 100%;
      padding-top: 10px;
      padding-bottom: 10px;
      background-color: $primary;
    }

    .arrowDown {
      margin-top: -10px;
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: $primary;
      width: 30px;
      height: 20px;
      border-radius: 50%;
    }

    .arrowUp {
      background: #f5911e;
      width: 100%;
    }
  }
}

// ---- BREAKPOINTS ----
@include lg {
  .navBox {
    right: 50px;
  }
}

@include md {
  .navBox {
    width: 150px;
    .logo {
      width: 150px;
    }
    .button {
      width: 50%;
    }
  }
}

@include sm {
  .navBox {
    right: 10px;

    button {
      font-size: 12px;
      font-weight: 500;

      p {
        padding-top: 5px;
        padding-bottom: 5px;
        width: 60%;
      }

      .arrowDown {
        margin-top: -7px;
        width: 20px;
        height: 20px;
      }
    }
  }
}
