@import "variables";
@import "breakpoints";

.navMenu {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: $primary;
  padding-top: 20px;
  padding-bottom: 20px;
  gap: 20px;

  .menu {
    font-size: 16px;
    font-weight: 500;
  }
}

// ---- BREAKPOINTS ----
@include sm {
  .navMenu {
    .menu {
      font-size: 14px;
    }
  }
}
